<div id="ProfilePage"
 data-user="<%= @user.to_json %>"
 data-all_assistants="<%= @all_assistants.to_json %>"
 data-users_assistants="<%= @users_assistants.to_json %>"
 data-country="<%= @country %>"
 data-country_disabled="<%= @country_disabled.to_json %>"
 data-pen_names="<%= @pen_names.to_json %>"
 data-list_subscriptions="<%= @list_subscriptions.to_json %>"
 data-is_welcome="<%= params['welcome'].present? %>">
</div>