<div id="PenNamesAppWithFlash"
  data-pen_names="<%= @pen_names.to_json %>"
  data-pen_name_requests="<%= @pen_name_requests.to_json %>"
  data-pen_name_groups="<%= @pen_name_groups.to_json %>"
  data-current_member_user_id="<%= current_member_user.id %>"
  data-flash="<%= @flash.as_json %>"
  data-flash_type="<%= @flash_type.as_json %>"
  data-is_mobile="<%= mobile_device? %>">
</div>