<ul>
  
  <li><b>Date:</b>  <%= @swap_reservation.date_pretty %></li>
  <li><b>Type:</b>  <%= @swap_reservation.inv_type.titleize %></li>
  
  <% if @swap_book.author.present? %>
    <li><b>Book Author:</b>  <%= @swap_book.author.titleize %></li>
  <% end %>
  
  <li><b>Book Title:</b>  <%= @swap_book.title.try(:titleize) %></li>
  
  <% @swap_book.book_links.each do |book_link| %>
  <li>
    <b>Link:</b>  <a class="email-book-link" target="_blank" href="<%= book_link.link_url %>">
      <%= book_link.link_url %>
    </a>
  </li>
  <% end %>
  <% if @swap_book.book_links.blank? %>
  <li>
    <b>Link:</b>  No link provided
  </li>
  <% end %>
  
  <% if @swap_reservation.try(:recorded_list_name).present? %>
  <li>
    <b>List:</b>  <%= @swap_reservation.try(:recorded_list_name) %>
  </li>
  <% end %>
  <% if @swap_list.try(:active_member_count_delimited).present? %>
  <li>
    <b>List Size:</b>  <%= @swap_list.try(:active_member_count_delimited) %>
  </li>
  <% end %>
  
  <% if @swap_list.try(:Platform).present? %>
  <li>
    <b>List Provider:</b>  <%= @swap_list.try(:Platform) %>
  </li>
  <% end %>
  
  <% if @swap_list.try(:open_rate_percent) %>
  <li>
    <b>Open Rate:</b>  <%= @swap_list.try(:open_rate_percent) %>
  </li>
  <% end %>
  
  <% if @swap_list.try(:click_rate_percent) %>
  <li>
    <b>Click Rate:</b>  <%= @swap_list.try(:click_rate_percent) %>
  </li>
  <% end %>
  
</ul>
