<div id="LaunchPageAppWithFlash"
data-book="<%= @book.to_json %>"
data-books="<%= @books.to_json %>"
data-promos="<%= @promos.to_json %>"
data-is_mobile="<%= mobile_device? %>"
data-data_for_chart="<%= @data_for_chart.to_json %>">


  <div style="min-height:500px; height: 500px"/>
  
  
</div>