<div id="DashboardAppWithFlash"
  data-greeting="<%= @greeting %>"
  data-user="<%= @user.to_json %>"
  data-books="<%= @books.to_json %>"
  data-lists="<%= @lists.to_json %>"
  data-flash="<%= @flash.as_json %>"
  data-today_in_local_timezone="<%= @today_in_local_timezone %>"
  data-flash_type="<%= @flash_type.as_json %>"
  data-recent_book_promos="<%= @recent_book_promos.to_json %>"
  data-promos_for_send_confirmation="<%= @promos_for_send_confirmation.to_json %>"
  data-prohibitive_refund_request="<%= @prohibitive_refund_request.to_json %>">
  
</div>